# Ignorar archivos y carpetas de Visual Studio
.vs/

*.suo
*.user
*.userosscache
*.sln.docstates

# Ignorar archivos compilados
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log

# Ignorar archivos generados por .NET
apphost.exe
*.db
*.db-shm
*.db-wal
*.lock.json

# Ignorar referencias temporales
ref/
refint/

# Other temporary files
CoreUnityBackend/CoreUnity.WebAPI/obj/
CoreUnityBackend/CoreUnity.WebAPI/bin/
CoreUnityBackend/CoreUnity.Core/obj/
CoreUnityBackend/CoreUnity.Core/bin/
CoreUnityBackend/CoreUnity.DTO/obj/
CoreUnityBackend/CoreUnity.DTO/bin/
CoreUnityBackend/CoreUnity.Domain/obj/
CoreUnityBackend/CoreUnity.Domain/bin/
CoreUnityBackend/CoreUnity.IOC/obj/
CoreUnityBackend/CoreUnity.IOC/bin/
CoreUnityBackend/CoreUnity.Infraestructure/obj/
CoreUnityBackend/CoreUnity.Infraestructure/bin/
CoreUnityBackend/CoreUnity.Service/obj/
CoreUnityBackend/CoreUnity.Service/bin/