# Ignorar archivos y carpetas de Visual Studio
CoreUnityBackend/.vs
CoreUnityBackend/bin/
CoreUnityBackend/obj/
.vs/

*.suo
*.user
*.userosscache
*.sln.docstates

# Ignorar archivos compilados
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log

# Ignorar archivos generados por .NET
apphost.exe
*.db
*.db-shm
*.db-wal
*.lock.json

# Ignorar referencias temporales
ref/
refint/