/* Tailwind base components */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Helvetica Neue', sans-serif !important;
    font-weight: 400 !important;
}

.round-button {
    background-color: #f55a4d;
    @apply transition-all duration-300 absolute -top-2 -right-2 rounded-full text-white cursor-pointer w-8 h-8 flex items-center justify-center hover:bg-red-600 transition-colors;
}

.round-button:hover {
    background-color: #cf4c40 !important;
}

.dashboard-left-nav-link {
    @apply mx-auto flex transition-all duration-300 gap-2 px-4 py-2 hover:no-underline;
}

.dashboard-left-nav-link:hover {
    @apply bg-primary-dark text-white opacity-100;
}

.dashboard-left-nav-link.active {
    @apply bg-primary text-white;
}

.dashboard-left-nav-link.active:hover {
    @apply bg-primary-dark text-white opacity-100;
}

/* Styles for navs */
a {
    @apply transition-all duration-300 hover:opacity-70 hover:underline;
}

/* scroll bars */
.scroll-visible-x,
.scroll-visible-mobile-menu {
    overflow-x: scroll;
}

.scroll-visible-y {
    overflow-y: scroll;
}

/* Personalizar el scrollbar */
.scroll-visible-x::-webkit-scrollbar,
.scroll-visible-mobile-menu::-webkit-scrollbar {
    height: 4px;
}

.scroll-visible-y::-webkit-scrollbar {
    width: 4px;
}

.scroll-visible-x::-webkit-scrollbar-thumb,
.scroll-visible-y::-webkit-scrollbar-thumb {
    background-color: #4b66a5;
    border-radius: 4px;
}

.scroll-visible-mobile-menu::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 4px;
}

.scroll-visible-x::-webkit-scrollbar-track,
.scroll-visible-y::-webkit-scrollbar-track,
.scroll-visible-mobile-menu::-webkit-scrollbar-track {
    background: transparent;
}
